<div class="container-fluid">
  <div class="row my-2 mt-4" style="text-align: center">
    <b style="font-size: 25px; color: black">CHI TIẾT SẢN PHẨM</b>
  </div>

  <div class="row mx-5 mt-5">
    <div class="col-lg-5">
      <div class="row my-3">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{productDetail?.img}}"
                   class="d-block w-100" style="height: 450px">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="row mx-5">
        <h3><b>{{productDetail?.productName}}</b></h3>
      </div>

      <div class="row mx-5 my-1">
        <b>Thương hiệu:{{productDetail?.brand.brandName}}</b>
      </div>

      <div class="row mx-5 my-1">
      <span><b>Giá: {{productDetail?.price}}.000đ</b></span>
      </div>

      <div class="row mx-5 my-1">
        <span><b>Số lượng</b></span>
        <span>
               <button class="minus btn-outline-light" style="color: black" (click)="minus()">-</button>
                <b class="mx-2">{{num}}</b>
               <button class="plus btn-outline-light" style="color: black" (click)="plus()">+</button>
        </span>
      </div>

      <div class="row mx-5 my-4">
        <b>{{total}}.000đ</b>
      </div>

      <div class="row mx-5">
        <div class="col-lg-6">
          <button class="btn btn-outline-dark"><span>Thêm vào giỏ hàng</span></button>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
  </div>

  <div class="row container mt-3" style="text-align: center">
    <ul class="nav nav-tabs container" style="text-align: center" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
          <b>Mô tả</b></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false">
          <b>Đánh giá</b></button>
      </li>

    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="text-align: left">
        <b>{{productDetail?.description}}</b>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        ...
      </div>
    </div>
  </div>
</div>

